.button {
    padding: 0 15px;
    height: 31px;
    border-radius: 4px;
    border: 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;

    &.disabled {
        background: #656565;
        color: #fff;
        cursor: default;
    }

    &.green {
        background: #4eb14d;
    }

    &.blue {
        background: #296db0;
    }
}
