.help-container {
    margin-top: 70px;
    font-size: 16px;

    & .how {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    & .operation {
        float: left;
        width: 100%;
        margin-bottom: 30px;

        & .name {
            float: left;
            width: 20%;
            font-weight: bold;
        }
        & .explanation {
            float: right;
            width: 80%;
        }
    }
}
