@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap);

body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    color: #f06;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.right {
    float: right;
}

.left {
    float: left;
}
